{% extends 'core/base.html' %}

{%block title%}
    Clientes
{%endblock title%}

{%block content%}
    <h1>Cliente</h1>

    <div class='d-grid gap-3'>
        <a href='{% url 'cliente:cliente_list'%}'>
            <button class='btn btn-primary'>
                Lista de clientes
            </button>
        </a>

        <a href='{% url 'cliente:cliente_create'%}'>
            <button class='btn btn-primary'>
                Crear cliente
            </button>
        </a>

        <a href='{% url 'cliente:pais_list'%}'>
            <button class='btn btn-primary'>
                Lista de países
            </button>
        </a>
        
        <a href='{% url 'core:index'%}'>
            <button class='btn btn-primary'>
                Inicio
            </button>
        </a>
    </div>
{%endblock content%}