{% extends 'core/base.html' %}

{%block title%}
    Productos
{%endblock title%}

{%block content%}
    <h1>Productos</h1>

    <div class='d-grid gap-3'>
        <a href='{% url 'producto:producto_list'%}'>
            <button class='btn btn-primary'>
                Vehículos
            </button>
        </a>

        <a href='{% url 'producto:producto_create'%}'>
            <button class='btn btn-primary'>
                Añadir vehículo
            </button>
        </a>

    </div>
{%endblock content%}