{% extends 'core/base.html' %}

{%block title%}
    Vehículos
{%endblock title%}

{%block content%}

    <h1> Vehículos </h1>
    <div class='py-lg-4'>
        <form action='{%url 'producto:producto_list'%}'>
            <input type='text' name='consulta' placeholder='Buscar...'>
        </form>
    {%for object in object_list%}
        <ul>
            <li>{{object.marca}}, {{object.modelo}} - {{object.unidad_medida}} {{object.precio}} </li>
        </ul>
    </div>
    {%endfor%}
{%endblock content%}