{%extends 'core/base.html'%}

{%block content%}

    <div class='d-flex justify-content-center align-items-center' style='height: 100vh'>
        <div class='text-center'>
            <h1 class='display-4'>Bienvenido a nuestra página</h1>
            <p class='lead'> Somos una empresa dedicada al alquiler de vehículos para usos múltiples. 
                Con una antigüedad de más de 20 años somos líderes en el mercado sudamericano.
                Con sede central en Buenos Aires, Argentina nos proyectamos a través de diversas sucursales con un manejo central desde este sitio web.</p>
        </div>
    </div>
 
    

{%endblock content%}