{%extends 'core/base.html'%}

{%block content%}

    <div class='d-flex justify-content-center align-items-center' style='height: 100vh'>
        <div class='text-center'>
            <h1 class='display-4'>Fausto Estamatti</h1>
            <p class='lead'> 
                Tengo 22 años, soy estudiante avanzado de Ingeniería Química en la UNL y realicé este curso de Python como una herramienta para añadir a 
                mi perfil profesional, creo que puede ser útil en ciertos aspectos dentro de una planta ya sea en cuestiones de 
                organización o en un feedback de planta. Además soy un aficionado de la programación y me encanta aprender nuevos recursos.
            </p>
        </div>
    </div>
 
    

{%endblock content%}